.button {
    color: #fff;
    background-color: #EA5F0A;
    border-radius: 30px;
    border: none;
    padding: 15px 20px;
    cursor: pointer;
    font-size: 18px;
    max-width: 162px;
    width: 100%;
    font-weight: 700;
}